
.button {
    display: inline-block;
    text-align: center;
    padding: 9px 35px;
    min-width: 145px;
    border-radius: 25px;
    border: 0;
    margin: 0 auto 28px;

    color: $white-color;
    background-color: $accent-color;
    box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: #876655;
    }
    &:focus {
        background-color: #674D40;
    }
}


