h1,
h2,
h3,
h4,
p,
a,
ul,
li,
span {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
  
}

* {
    cursor: url("../images/curs.png"),  pointer;
    &:active {
        color: brown;
    }
    }

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    
}

li {
    line-height: initial;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
}

address {
    font-style: normal;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;  
}


.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $primary-text-color;
    text-decoration: none;
    margin-right: auto;

    @include tablet {
        font-size: 18px;
        line-height: 1.22;
    }
}
