$primary-text-color: #3C322D;
$white-color: #FFFFFF;
$accent-color: #F3848C;
$background-color: #FBFBFB;


$base-font-family: Montserrat, sans-serif;
$primary-font-family: Montserrat Alternates, sans-serif;




