.about {

}

.about__image {
    border-radius: 24px;
    margin-bottom: 28px;
}
.about__title {
    margin: auto;
    margin-bottom: 8px;
    text-align: center;
}

.about__text {
    margin: auto;
    margin-bottom: 28px;
}

.link {
}