.hero {
    display: flex;
    padding: 20px 0 8px;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin-bottom: 20px;
    
    background-color: $primary-text-color;
    background-image: url(../image/glazed-donuts-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../image/glazed-donuts-mob-2x.jpg);
    }
    
    @include tablet {
    background-image: url(../image/glazed-donuts-tab.jpg);
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../image/glazed-donuts-tab-2x.jpg);
    }
    }

    @include desktop {
    background-image: url(../image/glazed-donuts-des.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../image/glazed-donuts-des-2x.jpg);
    }
    padding: 200px 0;
    height: 600px;    }

    &__title {
        margin: auto;
        margin-bottom: 18px;
        text-align: center;

        color: $primary-text-color;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.22;
        letter-spacing: -0.03em;
        
        @include tablet {
            font-size: 30px;
            line-height: 1.23;
        }

        @include desktop {
            font-size: 60px;
            line-height: 1.08;
            max-width: 696px;
        }
    }

    &__text {
        margin: auto;
        margin-bottom: 28px;
        text-align: center;

        
        @include mobile {
            
        }

        @include desktop {
            font-size: 24px;
            line-height: 1.21;
            max-width: 696px;
        }
    }
}
