.section {
   
}
.price {
    padding-top: 6px;
    margin-bottom: 19px;
}
.container {
}


.price__title {
    font-weight: 600;
    margin-bottom: 27px;
    
}
.price__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;  
}

.price-сard {
    margin-top: 0;
    
    width: 100%;
    padding: 20px 18px 20px 8px;
    border-radius: 25px;
    background-color: #FAFBFB;
    box-shadow: 10px 15px 25px 0px rgba(210, 202, 201, 0.45);
}

.price-card__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    font-family: $primary-font-family;
    margin-bottom: 16px;
    text-align: center;

    @include desktop {
        font-size: 20px;
        line-height: 1.2;
    }

}
.price-card__formula {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
}

.price-card__item {
    
}
.button {
}
.button__primary {
}



